<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!--bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" >
	</bean-->

   <bean id="helloWorld" class="test.testbean" scope="session">
       <property name="message" value="Hello World!"/>
   </bean>
   <bean id="helloWorld2" class="test.testbean" scope="session">
       <property name="message" value="2Hello World!"/>
   </bean>

   <bean id="serviceDispatcher" class="demo.integration_services.stub.DispatcherImpl"/>
   <bean id="localizationTextBean" class="demo.bean.LocalizationTextBean" scope="session">
       <property name="fileProps" value="demo.text"/>
   </bean>
   <bean id="loginBean" class="demo.bean.LoginBean" scope="session">
       <property name="dsp" ref="serviceDispatcher"/>
   </bean>
   <bean id="settingsBean" class="demo.bean.SettingsBean" scope="session">
       <property name="dsp" ref="serviceDispatcher"/>
   </bean>
   <bean class="com.nandox.jop.bean.spring.BeanPostCreation"/>
	<!--<bean id="jopproxyadvice" class="com.nandox.jop.bean.spring.BeanPostCreation"/>
	<bean id="jopproxy" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
       <property name="beanNames">
       	<list>
       		<value>*</value>
       	</list>
       </property>
       <property name="interceptorNames">
       	<list>
       		<value>jopproxyadvice</value>
       	</list>
       </property>
	</bean>--> 
</beans>