<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  	<display-name>Archetype Created Web Application</display-name>
	<context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>/WEB-INF/spring.xml</param-value>
	</context-param>
	<listener>
    	<listener-class>
        	org.springframework.web.context.ContextLoaderListener
    	</listener-class>
	</listener>
	<servlet>
		<servlet-name>Jop Servlet</servlet-name>
		<servlet-class>com.nandox.jop.core.dispatcher.ServletDispatcher</servlet-class>
    <!-- servelt parameters
		<bean-config>bean-config.xml/.prop</bean-config>
		<page-config>pagexml/.prop</page-config>
	-->
	</servlet>
	<servlet-mapping>
		<servlet-name>Jop Servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>JopServices Servlet</servlet-name>
		<servlet-class>com.nandox.jop.core.dispatcher.ServletDispatcher</servlet-class>
    <!-- servelt parameters
		<bean-config>bean-config.xml/.prop</bean-config>
		<page-config>pagexml/.prop</page-config>
	-->
	</servlet>
	<servlet-mapping>
		<servlet-name>JopServices Servlet</servlet-name>
		<url-pattern>/jopservices/*</url-pattern>
	</servlet-mapping>
</web-app>
