body {
	margin: 0px 0px;
}

.header {
	height: 35px;
	background-color: #b2f5ef;
	position: fixed;
	top: 0px;
	width: 100%;
}

.middle {
	margin-top: 35px;
	min-height: 800px;
}
.footer {
	min-height: 100px;
	background-color: #e7ebf1;
	position: fixed;
	bottom: 0px;
	width: 100%;
}
.login_area {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-radius: 5px;
	min-height: 300px;
	width: 250px;
	margin: 0px auto;
	top: 20px;
	position: relative;
}

.login .title {
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 2px solid #023783;
	font-weight: bold;
}

.login .body {
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.login .body * {
	width: 100%;
	margin-bottom: 20px
}

.login .body button {
	margin-top: 30px;
}

.login .error {
	color: red;
}

.pull-left {
	float: left;
	width: 50%;
}

.pull-right {
	float: right;
	width: 50%;
}

.grid {
	display: table;
	width: 100%;
}

.grid .row {
	display: table-row;
	width: 100%;
	/* margin-left: 5px; */
}

.grid .row .cell {
	display: table-cell;
	width: 50%;
	margin-bottom: 20px;
}

.grid .row .cell.label {
	width: 200px;
	overflow-wrap: break-word;
	word-break: break-all;
}

.grid .row .cell.data {
	padding-right: 20px;
	width: 200px;
}

.jop_accordion {
	padding-top: 20px;
	clear: both;
}

.settings .jop_accordion .content {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-radius: 5px;
	padding: 10px 5px;
}

.settings .jop_accordion .content .action {
	text-align: center;
}


.jop_selection {
	border: 1px solid #d6d6d6;
}

.jop_selection .wdg_arrow {
	top: 5px;
	position: relative;
	float: right;
	background: url(/jop/jopscript/jop_icons.png) no-repeat;
	margin-right:10px;
	background-position: -12px 0;
	width: 12px;
	height: 10px;
}

.jop_selection ul {
	list-style: none;
	margin: 0px;
	padding: 5px 5px;
}

.jop_selection .wdg_list {
	border-top: 1px solid #d6d6d6;
	z-index:100;
	background: white;
}
.jop_selection li {
	padding: 0px 13px;
	cursor: pointer;
}
.jop_selection li.st_active {
	background-color:#e2e2ec;
}