<div jop_id jop_var="(java.lang.Boolean)open_flag" class="wdg_wrapper">
	<div class='jop_accordion java{return (open_flag!=null&&open_flag?"st_open":"st_close");}'>	
		<div class="wdg_header"
			 onclick='Jop.Widget.accordion.toggle(this,java{return (open_flag!=null&&open_flag?"false":"true");})'><!--
			--><span class='wdg_arrow'></span><!--
			--><span class='wdg_title'><wdg_title></wdg_title></span>
		</div>
		<div class="wdg_content" jop_rendered='java{return open_flag!=null&&open_flag;}'>
		<wdg_content></wdg_content>
		</div>
	</div>
</div>
