<!--script>
	function selection_toggle(el,flg) {
		Jop.Services.postBlock(el.getAttribute('jop_id'),{jop_selection: flg}).done(function(jopId){
			var block = Jop.getBlockElement(jopId);
			var li = Jop.Dom.querySelectorAll(block,"li");
			var c = Jop.Dom.querySelector(block,".wdg_list");
			if ( c != null ) {
				c.style.minWidth = block.offsetWidth-2;
			}
			for ( var ix=0; ix<li.length; ix++ ) {
				li[ix].onmouseover = function(e) {
					Jop.Dom.addClass(e.target,"st_active");
				}
				li[ix].onmouseout = function(e) {
					Jop.Dom.removeClass(e.target,"st_active");
				}
				li[ix].onclick = function(e) {
					e.stopPropagation();
					var block = Jop.Dom.parentSelector(e.target,'.wdg_wrapper');
					var i = Jop.Dom.querySelector(block,".wdg_input");
					var val = e.target.getAttribute('data-value');
					if ( val != null )
						i.value = val;
					else
						i.value = e.target.textContent;
					selection_toggle(block,false);
				}
			}
		});
	}
	
</script-->
<div jop_id jop_var="(java.lang.Boolean)open_flag" class="wdg_wrapper">
	<div class='jop_combobox java{return (open_flag!=null&&open_flag?"st_open":"st_close");}'
	 onclick='Jop.Widget.combobox.toggle(this,java{return open_flag!=null&&open_flag?"false":"true";})'
     >
	    <input class="wdg_input" disabled=disabled $value $jop_converter $jop_support_data></input>
	    <span class="wdg_arrow"/>
	    <div class="wdg_list" jop_id  jop_rendered='java{return open_flag!=null&&open_flag;}'>
		    <ul $jop_repeater $jop_var $jop_status>
		    	<wdg_item><li $data-value>$wdg_item</li></wdg_item>
		    </ul>
	    </div>
    </div>
</div>
