<script>
	function selection_toggle(el,flg) {
		Jop.core.services.postBlock(el.getAttribute('jop_id'),{jop_selection: flg}).done(function(jopId){
			var block = Jop.core.getBlockElement(jopId);
			var li = Jop.core.querySelectorAll(block,"li");
			var c = Jop.core.querySelector(block,".wdg_list");
			if ( c != null ) {
				c.style.minWidth = block.offsetWidth-2;
			}
			for ( var ix=0; ix<li.length; ix++ ) {
				li[ix].onmouseover = function(e) {
					Jop.core.dom.addClass(e.target,"st_active");
				}
				li[ix].onmouseout = function(e) {
					Jop.core.dom.removeClass(e.target,"st_active");
				}
				li[ix].onclick = function(e) {
					e.stopPropagation();
					var block = e.target.parentElement.parentElement.parentElement;
					var i = Jop.core.querySelector(block,".wdg_input");
					var val = e.target.getAttribute('data-value');
					if ( val != null )
						i.value = val;
					else
						i.value = e.target.textContent;
					selection_toggle(block,0);
				}
			}
		});
	}
</script>
<div jop_id jop_var="(java.lang.String)jop_selection">
	<div class='jop_combobox java{return ("1".equals(jop_selection)?"st_open":"st_close");}'
	 onclick='selection_toggle(this.parentElement,"java{return ("1".equals(jop_selection)?"0":"1");}")'
     >
	    <input class="wdg_input" disabled=disabled $value $jop_converter $jop_support_data></input>
	    <span class="wdg_arrow"/>
	    <div class="wdg_list" jop_id  jop_rendered='java{return "1".equals(jop_selection);}'>
		    <ul $jop_repeater $jop_var $jop_status>
		    	<wdg_item><li $data-value>$wdg_item</li></wdg_item>
		    </ul>
	    </div>
    </div>
</div>
